# Temporary and binary files
*~
*.py[cod]
*.so
*.cfg
!.isort.cfg
!setup.cfg
*.orig
*.log
*.pot
__pycache__/*
.cache/*
.*.swp
*/.ipynb_checkpoints/*
.DS_Store

# Project files
.ropeproject
.project
.pydevproject
.settings
.idea
tags

# Package files
*.egg
*.eggs/
.installed.cfg
*.egg-info

# Unittest and coverage
htmlcov/*
.coverage
.tox
junit.xml
coverage.xml
.pytest_cache/

# Build and docs folder/files
build/*
dist/*
sdist/*
docs/api/*
docs/_rst/*
docs/_build/*
cover/*
MANIFEST

# Per-project virtualenvs
.venv*/
.mypy_cache/3.7/__future__.data.json
.mypy_cache/3.7/__future__.meta.json
.mypy_cache/3.7/_ast.data.json
.mypy_cache/3.7/_ast.meta.json
.mypy_cache/3.7/_importlib_modulespec.data.json
.mypy_cache/3.7/_importlib_modulespec.meta.json
.mypy_cache/3.7/_random.data.json
.mypy_cache/3.7/_random.meta.json
.mypy_cache/3.7/_warnings.data.json
.mypy_cache/3.7/_warnings.meta.json
.mypy_cache/3.7/_weakref.data.json
.mypy_cache/3.7/_weakref.meta.json
.mypy_cache/3.7/_weakrefset.data.json
.mypy_cache/3.7/_weakrefset.meta.json
.mypy_cache/3.7/@plugins_snapshot.json
.mypy_cache/3.7/abc.data.json
.mypy_cache/3.7/abc.meta.json
.mypy_cache/3.7/array.data.json
.mypy_cache/3.7/array.meta.json
.mypy_cache/3.7/ast.data.json
.mypy_cache/3.7/ast.meta.json
.mypy_cache/3.7/builtins.data.json
.mypy_cache/3.7/builtins.meta.json
.mypy_cache/3.7/codecs.data.json
.mypy_cache/3.7/codecs.meta.json
.mypy_cache/3.7/contextlib.data.json
.mypy_cache/3.7/contextlib.meta.json
.mypy_cache/3.7/copy.data.json
.mypy_cache/3.7/copy.meta.json
.mypy_cache/3.7/copyreg.data.json
.mypy_cache/3.7/copyreg.meta.json
.mypy_cache/3.7/datetime.data.json
.mypy_cache/3.7/datetime.meta.json
.mypy_cache/3.7/difflib.data.json
.mypy_cache/3.7/difflib.meta.json
.mypy_cache/3.7/enum.data.json
.mypy_cache/3.7/enum.meta.json
.mypy_cache/3.7/errno.data.json
.mypy_cache/3.7/errno.meta.json
.mypy_cache/3.7/experiment.data.json
.mypy_cache/3.7/experiment.meta.json
.mypy_cache/3.7/functools.data.json
.mypy_cache/3.7/functools.meta.json
.mypy_cache/3.7/hashlib.data.json
.mypy_cache/3.7/hashlib.meta.json
.mypy_cache/3.7/inspect.data.json
.mypy_cache/3.7/inspect.meta.json
.mypy_cache/3.7/io.data.json
.mypy_cache/3.7/io.meta.json
.mypy_cache/3.7/itertools.data.json
.mypy_cache/3.7/itertools.meta.json
.mypy_cache/3.7/math.data.json
.mypy_cache/3.7/math.meta.json
.mypy_cache/3.7/mmap.data.json
.mypy_cache/3.7/mmap.meta.json
.mypy_cache/3.7/numbers.data.json
.mypy_cache/3.7/numbers.meta.json
.mypy_cache/3.7/operator.data.json
.mypy_cache/3.7/operator.meta.json
.mypy_cache/3.7/pathlib.data.json
.mypy_cache/3.7/pathlib.meta.json
.mypy_cache/3.7/pickle.data.json
.mypy_cache/3.7/pickle.meta.json
.mypy_cache/3.7/posix.data.json
.mypy_cache/3.7/posix.meta.json
.mypy_cache/3.7/queue.data.json
.mypy_cache/3.7/queue.meta.json
.mypy_cache/3.7/random.data.json
.mypy_cache/3.7/random.meta.json
.mypy_cache/3.7/re.data.json
.mypy_cache/3.7/re.meta.json
.mypy_cache/3.7/shutil.data.json
.mypy_cache/3.7/shutil.meta.json
.mypy_cache/3.7/signal.data.json
.mypy_cache/3.7/signal.meta.json
.mypy_cache/3.7/socket.data.json
.mypy_cache/3.7/socket.meta.json
.mypy_cache/3.7/ssl.data.json
.mypy_cache/3.7/ssl.meta.json
.mypy_cache/3.7/string.data.json
.mypy_cache/3.7/string.meta.json
.mypy_cache/3.7/struct.data.json
.mypy_cache/3.7/struct.meta.json
.mypy_cache/3.7/sys.data.json
.mypy_cache/3.7/sys.meta.json
.mypy_cache/3.7/tarfile.data.json
.mypy_cache/3.7/tarfile.meta.json
.mypy_cache/3.7/tempfile.data.json
.mypy_cache/3.7/tempfile.meta.json
.mypy_cache/3.7/textwrap.data.json
.mypy_cache/3.7/textwrap.meta.json
.mypy_cache/3.7/threading.data.json
.mypy_cache/3.7/threading.meta.json
.mypy_cache/3.7/time.data.json
.mypy_cache/3.7/time.meta.json
.mypy_cache/3.7/traceback.data.json
.mypy_cache/3.7/traceback.meta.json
.mypy_cache/3.7/types.data.json
.mypy_cache/3.7/types.meta.json
.mypy_cache/3.7/typing_extensions.data.json
.mypy_cache/3.7/typing_extensions.meta.json
.mypy_cache/3.7/typing.data.json
.mypy_cache/3.7/typing.meta.json
.mypy_cache/3.7/warnings.data.json
.mypy_cache/3.7/warnings.meta.json
.mypy_cache/3.7/weakref.data.json
.mypy_cache/3.7/weakref.meta.json
.mypy_cache/3.7/zipfile.data.json
.mypy_cache/3.7/zipfile.meta.json
.mypy_cache/3.7/zipimport.data.json
.mypy_cache/3.7/zipimport.meta.json
.mypy_cache/3.7/collections/__init__.data.json
.mypy_cache/3.7/collections/__init__.meta.json
.mypy_cache/3.7/collections/abc.data.json
.mypy_cache/3.7/collections/abc.meta.json
.mypy_cache/3.7/ctypes/__init__.data.json
.mypy_cache/3.7/ctypes/__init__.meta.json
.mypy_cache/3.7/email/__init__.data.json
.mypy_cache/3.7/email/__init__.meta.json
.mypy_cache/3.7/email/charset.data.json
.mypy_cache/3.7/email/charset.meta.json
.mypy_cache/3.7/email/contentmanager.data.json
.mypy_cache/3.7/email/contentmanager.meta.json
.mypy_cache/3.7/email/errors.data.json
.mypy_cache/3.7/email/errors.meta.json
.mypy_cache/3.7/email/header.data.json
.mypy_cache/3.7/email/header.meta.json
.mypy_cache/3.7/email/message.data.json
.mypy_cache/3.7/email/message.meta.json
.mypy_cache/3.7/email/policy.data.json
.mypy_cache/3.7/email/policy.meta.json
.mypy_cache/3.7/http/__init__.data.json
.mypy_cache/3.7/http/__init__.meta.json
.mypy_cache/3.7/http/client.data.json
.mypy_cache/3.7/http/client.meta.json
.mypy_cache/3.7/http/cookiejar.data.json
.mypy_cache/3.7/http/cookiejar.meta.json
.mypy_cache/3.7/importlib/__init__.data.json
.mypy_cache/3.7/importlib/__init__.meta.json
.mypy_cache/3.7/importlib/abc.data.json
.mypy_cache/3.7/importlib/abc.meta.json
.mypy_cache/3.7/importlib/machinery.data.json
.mypy_cache/3.7/importlib/machinery.meta.json
.mypy_cache/3.7/importlib/util.data.json
.mypy_cache/3.7/importlib/util.meta.json
.mypy_cache/3.7/logging/__init__.data.json
.mypy_cache/3.7/logging/__init__.meta.json
.mypy_cache/3.7/multiprocessing/__init__.data.json
.mypy_cache/3.7/multiprocessing/__init__.meta.json
.mypy_cache/3.7/multiprocessing/connection.data.json
.mypy_cache/3.7/multiprocessing/connection.meta.json
.mypy_cache/3.7/multiprocessing/context.data.json
.mypy_cache/3.7/multiprocessing/context.meta.json
.mypy_cache/3.7/multiprocessing/managers.data.json
.mypy_cache/3.7/multiprocessing/managers.meta.json
.mypy_cache/3.7/multiprocessing/pool.data.json
.mypy_cache/3.7/multiprocessing/pool.meta.json
.mypy_cache/3.7/multiprocessing/process.data.json
.mypy_cache/3.7/multiprocessing/process.meta.json
.mypy_cache/3.7/multiprocessing/queues.data.json
.mypy_cache/3.7/multiprocessing/queues.meta.json
.mypy_cache/3.7/multiprocessing/spawn.data.json
.mypy_cache/3.7/multiprocessing/spawn.meta.json
.mypy_cache/3.7/multiprocessing/synchronize.data.json
.mypy_cache/3.7/multiprocessing/synchronize.meta.json
.mypy_cache/3.7/os/__init__.data.json
.mypy_cache/3.7/os/__init__.meta.json
.mypy_cache/3.7/os/path.data.json
.mypy_cache/3.7/os/path.meta.json
.mypy_cache/3.7/phimal_utilities/__init__.data.json
.mypy_cache/3.7/phimal_utilities/__init__.meta.json
.mypy_cache/3.7/phimal_utilities/analysis/__init__.data.json
.mypy_cache/3.7/phimal_utilities/analysis/__init__.meta.json
.mypy_cache/3.7/pkg_resources/__init__.data.json
.mypy_cache/3.7/pkg_resources/__init__.meta.json
.mypy_cache/3.7/sqlite3/__init__.data.json
.mypy_cache/3.7/sqlite3/__init__.meta.json
.mypy_cache/3.7/sqlite3/dbapi2.data.json
.mypy_cache/3.7/sqlite3/dbapi2.meta.json
.mypy_cache/3.7/torch/__config__.data.json
.mypy_cache/3.7/torch/__config__.meta.json
.mypy_cache/3.7/torch/__future__.data.json
.mypy_cache/3.7/torch/__future__.meta.json
.mypy_cache/3.7/torch/__init__.data.json
.mypy_cache/3.7/torch/__init__.meta.json
.mypy_cache/3.7/torch/_classes.data.json
.mypy_cache/3.7/torch/_classes.meta.json
.mypy_cache/3.7/torch/_jit_internal.data.json
.mypy_cache/3.7/torch/_jit_internal.meta.json
.mypy_cache/3.7/torch/_linalg_utils.data.json
.mypy_cache/3.7/torch/_linalg_utils.meta.json
.mypy_cache/3.7/torch/_lowrank.data.json
.mypy_cache/3.7/torch/_lowrank.meta.json
.mypy_cache/3.7/torch/_namedtensor_internals.data.json
.mypy_cache/3.7/torch/_namedtensor_internals.meta.json
.mypy_cache/3.7/torch/_ops.data.json
.mypy_cache/3.7/torch/_ops.meta.json
.mypy_cache/3.7/torch/_overrides.data.json
.mypy_cache/3.7/torch/_overrides.meta.json
.mypy_cache/3.7/torch/_six.data.json
.mypy_cache/3.7/torch/_six.meta.json
.mypy_cache/3.7/torch/_tensor_str.data.json
.mypy_cache/3.7/torch/_tensor_str.meta.json
.mypy_cache/3.7/torch/_utils_internal.data.json
.mypy_cache/3.7/torch/_utils_internal.meta.json
.mypy_cache/3.7/torch/_utils.data.json
.mypy_cache/3.7/torch/_utils.meta.json
.mypy_cache/3.7/torch/_VF.data.json
.mypy_cache/3.7/torch/_VF.meta.json
.mypy_cache/3.7/torch/functional.data.json
.mypy_cache/3.7/torch/functional.meta.json
.mypy_cache/3.7/torch/hub.data.json
.mypy_cache/3.7/torch/hub.meta.json
.mypy_cache/3.7/torch/random.data.json
.mypy_cache/3.7/torch/random.meta.json
.mypy_cache/3.7/torch/serialization.data.json
.mypy_cache/3.7/torch/serialization.meta.json
.mypy_cache/3.7/torch/autograd/__init__.data.json
.mypy_cache/3.7/torch/autograd/__init__.meta.json
.mypy_cache/3.7/torch/autograd/function.data.json
.mypy_cache/3.7/torch/autograd/function.meta.json
.mypy_cache/3.7/torch/autograd/grad_mode.data.json
.mypy_cache/3.7/torch/autograd/grad_mode.meta.json
.mypy_cache/3.7/torch/autograd/profiler.data.json
.mypy_cache/3.7/torch/autograd/profiler.meta.json
.mypy_cache/3.7/torch/backends/__init__.data.json
.mypy_cache/3.7/torch/backends/__init__.meta.json
.mypy_cache/3.7/torch/backends/cudnn/__init__.data.json
.mypy_cache/3.7/torch/backends/cudnn/__init__.meta.json
.mypy_cache/3.7/torch/cuda/__init__.data.json
.mypy_cache/3.7/torch/cuda/__init__.meta.json
.mypy_cache/3.7/torch/distributed/__init__.data.json
.mypy_cache/3.7/torch/distributed/__init__.meta.json
.mypy_cache/3.7/torch/distributed/constants.data.json
.mypy_cache/3.7/torch/distributed/constants.meta.json
.mypy_cache/3.7/torch/distributed/distributed_c10d.data.json
.mypy_cache/3.7/torch/distributed/distributed_c10d.meta.json
.mypy_cache/3.7/torch/distributed/rendezvous.data.json
.mypy_cache/3.7/torch/distributed/rendezvous.meta.json
.mypy_cache/3.7/torch/distributed/autograd/__init__.data.json
.mypy_cache/3.7/torch/distributed/autograd/__init__.meta.json
.mypy_cache/3.7/torch/distributions/__init__.data.json
.mypy_cache/3.7/torch/distributions/__init__.meta.json
.mypy_cache/3.7/torch/distributions/bernoulli.data.json
.mypy_cache/3.7/torch/distributions/bernoulli.meta.json
.mypy_cache/3.7/torch/distributions/beta.data.json
.mypy_cache/3.7/torch/distributions/beta.meta.json
.mypy_cache/3.7/torch/distributions/binomial.data.json
.mypy_cache/3.7/torch/distributions/binomial.meta.json
.mypy_cache/3.7/torch/distributions/categorical.data.json
.mypy_cache/3.7/torch/distributions/categorical.meta.json
.mypy_cache/3.7/torch/distributions/cauchy.data.json
.mypy_cache/3.7/torch/distributions/cauchy.meta.json
.mypy_cache/3.7/torch/distributions/chi2.data.json
.mypy_cache/3.7/torch/distributions/chi2.meta.json
.mypy_cache/3.7/torch/distributions/constraint_registry.data.json
.mypy_cache/3.7/torch/distributions/constraint_registry.meta.json
.mypy_cache/3.7/torch/distributions/constraints.data.json
.mypy_cache/3.7/torch/distributions/constraints.meta.json
.mypy_cache/3.7/torch/distributions/continuous_bernoulli.data.json
.mypy_cache/3.7/torch/distributions/continuous_bernoulli.meta.json
.mypy_cache/3.7/torch/distributions/dirichlet.data.json
.mypy_cache/3.7/torch/distributions/dirichlet.meta.json
.mypy_cache/3.7/torch/distributions/distribution.data.json
.mypy_cache/3.7/torch/distributions/distribution.meta.json
.mypy_cache/3.7/torch/distributions/exp_family.data.json
.mypy_cache/3.7/torch/distributions/exp_family.meta.json
.mypy_cache/3.7/torch/distributions/exponential.data.json
.mypy_cache/3.7/torch/distributions/exponential.meta.json
.mypy_cache/3.7/torch/distributions/fishersnedecor.data.json
.mypy_cache/3.7/torch/distributions/fishersnedecor.meta.json
.mypy_cache/3.7/torch/distributions/gamma.data.json
.mypy_cache/3.7/torch/distributions/gamma.meta.json
.mypy_cache/3.7/torch/distributions/geometric.data.json
.mypy_cache/3.7/torch/distributions/geometric.meta.json
.mypy_cache/3.7/torch/distributions/gumbel.data.json
.mypy_cache/3.7/torch/distributions/gumbel.meta.json
.mypy_cache/3.7/torch/distributions/half_cauchy.data.json
.mypy_cache/3.7/torch/distributions/half_cauchy.meta.json
.mypy_cache/3.7/torch/distributions/half_normal.data.json
.mypy_cache/3.7/torch/distributions/half_normal.meta.json
.mypy_cache/3.7/torch/distributions/independent.data.json
.mypy_cache/3.7/torch/distributions/independent.meta.json
.mypy_cache/3.7/torch/distributions/kl.data.json
.mypy_cache/3.7/torch/distributions/kl.meta.json
.mypy_cache/3.7/torch/distributions/laplace.data.json
.mypy_cache/3.7/torch/distributions/laplace.meta.json
.mypy_cache/3.7/torch/distributions/log_normal.data.json
.mypy_cache/3.7/torch/distributions/log_normal.meta.json
.mypy_cache/3.7/torch/distributions/logistic_normal.data.json
.mypy_cache/3.7/torch/distributions/logistic_normal.meta.json
.mypy_cache/3.7/torch/distributions/lowrank_multivariate_normal.data.json
.mypy_cache/3.7/torch/distributions/lowrank_multivariate_normal.meta.json
.mypy_cache/3.7/torch/distributions/mixture_same_family.data.json
.mypy_cache/3.7/torch/distributions/mixture_same_family.meta.json
.mypy_cache/3.7/torch/distributions/multinomial.data.json
.mypy_cache/3.7/torch/distributions/multinomial.meta.json
.mypy_cache/3.7/torch/distributions/multivariate_normal.data.json
.mypy_cache/3.7/torch/distributions/multivariate_normal.meta.json
.mypy_cache/3.7/torch/distributions/negative_binomial.data.json
.mypy_cache/3.7/torch/distributions/negative_binomial.meta.json
.mypy_cache/3.7/torch/distributions/normal.data.json
.mypy_cache/3.7/torch/distributions/normal.meta.json
.mypy_cache/3.7/torch/distributions/one_hot_categorical.data.json
.mypy_cache/3.7/torch/distributions/one_hot_categorical.meta.json
.mypy_cache/3.7/torch/distributions/pareto.data.json
.mypy_cache/3.7/torch/distributions/pareto.meta.json
.mypy_cache/3.7/torch/distributions/poisson.data.json
.mypy_cache/3.7/torch/distributions/poisson.meta.json
.mypy_cache/3.7/torch/distributions/relaxed_bernoulli.data.json
.mypy_cache/3.7/torch/distributions/relaxed_bernoulli.meta.json
.mypy_cache/3.7/torch/distributions/relaxed_categorical.data.json
.mypy_cache/3.7/torch/distributions/relaxed_categorical.meta.json
.mypy_cache/3.7/torch/distributions/studentT.data.json
.mypy_cache/3.7/torch/distributions/studentT.meta.json
.mypy_cache/3.7/torch/distributions/transformed_distribution.data.json
.mypy_cache/3.7/torch/distributions/transformed_distribution.meta.json
.mypy_cache/3.7/torch/distributions/transforms.data.json
.mypy_cache/3.7/torch/distributions/transforms.meta.json
.mypy_cache/3.7/torch/distributions/uniform.data.json
.mypy_cache/3.7/torch/distributions/uniform.meta.json
.mypy_cache/3.7/torch/distributions/utils.data.json
.mypy_cache/3.7/torch/distributions/utils.meta.json
.mypy_cache/3.7/torch/distributions/von_mises.data.json
.mypy_cache/3.7/torch/distributions/von_mises.meta.json
.mypy_cache/3.7/torch/distributions/weibull.data.json
.mypy_cache/3.7/torch/distributions/weibull.meta.json
.mypy_cache/3.7/torch/jit/__init__.data.json
.mypy_cache/3.7/torch/jit/__init__.meta.json
.mypy_cache/3.7/torch/jit/_builtins.data.json
.mypy_cache/3.7/torch/jit/_builtins.meta.json
.mypy_cache/3.7/torch/jit/_recursive.data.json
.mypy_cache/3.7/torch/jit/_recursive.meta.json
.mypy_cache/3.7/torch/jit/annotations.data.json
.mypy_cache/3.7/torch/jit/annotations.meta.json
.mypy_cache/3.7/torch/jit/frontend.data.json
.mypy_cache/3.7/torch/jit/frontend.meta.json
.mypy_cache/3.7/torch/multiprocessing/__init__.data.json
.mypy_cache/3.7/torch/multiprocessing/__init__.meta.json
.mypy_cache/3.7/torch/multiprocessing/reductions.data.json
.mypy_cache/3.7/torch/multiprocessing/reductions.meta.json
.mypy_cache/3.7/torch/multiprocessing/spawn.data.json
.mypy_cache/3.7/torch/multiprocessing/spawn.meta.json
.mypy_cache/3.7/torch/nn/__init__.data.json
.mypy_cache/3.7/torch/nn/__init__.meta.json
.mypy_cache/3.7/torch/nn/common_types.data.json
.mypy_cache/3.7/torch/nn/common_types.meta.json
.mypy_cache/3.7/torch/nn/functional.data.json
.mypy_cache/3.7/torch/nn/functional.meta.json
.mypy_cache/3.7/torch/nn/init.data.json
.mypy_cache/3.7/torch/nn/init.meta.json
.mypy_cache/3.7/torch/nn/parameter.data.json
.mypy_cache/3.7/torch/nn/parameter.meta.json
.mypy_cache/3.7/torch/nn/intrinsic/__init__.data.json
.mypy_cache/3.7/torch/nn/intrinsic/__init__.meta.json
.mypy_cache/3.7/torch/nn/intrinsic/modules/__init__.data.json
.mypy_cache/3.7/torch/nn/intrinsic/modules/__init__.meta.json
.mypy_cache/3.7/torch/nn/intrinsic/modules/fused.data.json
.mypy_cache/3.7/torch/nn/intrinsic/modules/fused.meta.json
.mypy_cache/3.7/torch/nn/intrinsic/qat/__init__.data.json
.mypy_cache/3.7/torch/nn/intrinsic/qat/__init__.meta.json
.mypy_cache/3.7/torch/nn/intrinsic/qat/modules/__init__.data.json
.mypy_cache/3.7/torch/nn/intrinsic/qat/modules/__init__.meta.json
.mypy_cache/3.7/torch/nn/intrinsic/qat/modules/conv_fused.data.json
.mypy_cache/3.7/torch/nn/intrinsic/qat/modules/conv_fused.meta.json
.mypy_cache/3.7/torch/nn/intrinsic/qat/modules/linear_relu.data.json
.mypy_cache/3.7/torch/nn/intrinsic/qat/modules/linear_relu.meta.json
.mypy_cache/3.7/torch/nn/intrinsic/quantized/__init__.data.json
.mypy_cache/3.7/torch/nn/intrinsic/quantized/__init__.meta.json
.mypy_cache/3.7/torch/nn/intrinsic/quantized/modules/__init__.data.json
.mypy_cache/3.7/torch/nn/intrinsic/quantized/modules/__init__.meta.json
.mypy_cache/3.7/torch/nn/intrinsic/quantized/modules/conv_relu.data.json
.mypy_cache/3.7/torch/nn/intrinsic/quantized/modules/conv_relu.meta.json
.mypy_cache/3.7/torch/nn/intrinsic/quantized/modules/linear_relu.data.json
.mypy_cache/3.7/torch/nn/intrinsic/quantized/modules/linear_relu.meta.json
.mypy_cache/3.7/torch/nn/modules/__init__.data.json
.mypy_cache/3.7/torch/nn/modules/__init__.meta.json
.mypy_cache/3.7/torch/nn/modules/activation.data.json
.mypy_cache/3.7/torch/nn/modules/activation.meta.json
.mypy_cache/3.7/torch/nn/modules/adaptive.data.json
.mypy_cache/3.7/torch/nn/modules/adaptive.meta.json
.mypy_cache/3.7/torch/nn/modules/batchnorm.data.json
.mypy_cache/3.7/torch/nn/modules/batchnorm.meta.json
.mypy_cache/3.7/torch/nn/modules/container.data.json
.mypy_cache/3.7/torch/nn/modules/container.meta.json
.mypy_cache/3.7/torch/nn/modules/conv.data.json
.mypy_cache/3.7/torch/nn/modules/conv.meta.json
.mypy_cache/3.7/torch/nn/modules/distance.data.json
.mypy_cache/3.7/torch/nn/modules/distance.meta.json
.mypy_cache/3.7/torch/nn/modules/dropout.data.json
.mypy_cache/3.7/torch/nn/modules/dropout.meta.json
.mypy_cache/3.7/torch/nn/modules/fold.data.json
.mypy_cache/3.7/torch/nn/modules/fold.meta.json
.mypy_cache/3.7/torch/nn/modules/instancenorm.data.json
.mypy_cache/3.7/torch/nn/modules/instancenorm.meta.json
.mypy_cache/3.7/torch/nn/modules/linear.data.json
.mypy_cache/3.7/torch/nn/modules/linear.meta.json
.mypy_cache/3.7/torch/nn/modules/loss.data.json
.mypy_cache/3.7/torch/nn/modules/loss.meta.json
.mypy_cache/3.7/torch/nn/modules/module.data.json
.mypy_cache/3.7/torch/nn/modules/module.meta.json
.mypy_cache/3.7/torch/nn/modules/normalization.data.json
.mypy_cache/3.7/torch/nn/modules/normalization.meta.json
.mypy_cache/3.7/torch/nn/modules/padding.data.json
.mypy_cache/3.7/torch/nn/modules/padding.meta.json
.mypy_cache/3.7/torch/nn/modules/pixelshuffle.data.json
.mypy_cache/3.7/torch/nn/modules/pixelshuffle.meta.json
.mypy_cache/3.7/torch/nn/modules/pooling.data.json
.mypy_cache/3.7/torch/nn/modules/pooling.meta.json
.mypy_cache/3.7/torch/nn/modules/rnn.data.json
.mypy_cache/3.7/torch/nn/modules/rnn.meta.json
.mypy_cache/3.7/torch/nn/modules/sparse.data.json
.mypy_cache/3.7/torch/nn/modules/sparse.meta.json
.mypy_cache/3.7/torch/nn/modules/transformer.data.json
.mypy_cache/3.7/torch/nn/modules/transformer.meta.json
.mypy_cache/3.7/torch/nn/modules/upsampling.data.json
.mypy_cache/3.7/torch/nn/modules/upsampling.meta.json
.mypy_cache/3.7/torch/nn/modules/utils.data.json
.mypy_cache/3.7/torch/nn/modules/utils.meta.json
.mypy_cache/3.7/torch/nn/parallel/__init__.data.json
.mypy_cache/3.7/torch/nn/parallel/__init__.meta.json
.mypy_cache/3.7/torch/nn/parallel/common_types.data.json
.mypy_cache/3.7/torch/nn/parallel/common_types.meta.json
.mypy_cache/3.7/torch/nn/parallel/data_parallel.data.json
.mypy_cache/3.7/torch/nn/parallel/data_parallel.meta.json
.mypy_cache/3.7/torch/nn/parallel/distributed.data.json
.mypy_cache/3.7/torch/nn/parallel/distributed.meta.json
.mypy_cache/3.7/torch/nn/parallel/parallel_apply.data.json
.mypy_cache/3.7/torch/nn/parallel/parallel_apply.meta.json
.mypy_cache/3.7/torch/nn/parallel/replicate.data.json
.mypy_cache/3.7/torch/nn/parallel/replicate.meta.json
.mypy_cache/3.7/torch/nn/parallel/scatter_gather.data.json
.mypy_cache/3.7/torch/nn/parallel/scatter_gather.meta.json
.mypy_cache/3.7/torch/nn/qat/__init__.data.json
.mypy_cache/3.7/torch/nn/qat/__init__.meta.json
.mypy_cache/3.7/torch/nn/qat/modules/__init__.data.json
.mypy_cache/3.7/torch/nn/qat/modules/__init__.meta.json
.mypy_cache/3.7/torch/nn/qat/modules/conv.data.json
.mypy_cache/3.7/torch/nn/qat/modules/conv.meta.json
.mypy_cache/3.7/torch/nn/qat/modules/linear.data.json
.mypy_cache/3.7/torch/nn/qat/modules/linear.meta.json
.mypy_cache/3.7/torch/nn/quantized/__init__.data.json
.mypy_cache/3.7/torch/nn/quantized/__init__.meta.json
.mypy_cache/3.7/torch/nn/quantized/functional.data.json
.mypy_cache/3.7/torch/nn/quantized/functional.meta.json
.mypy_cache/3.7/torch/nn/quantized/dynamic/__init__.data.json
.mypy_cache/3.7/torch/nn/quantized/dynamic/__init__.meta.json
.mypy_cache/3.7/torch/nn/quantized/dynamic/modules/__init__.data.json
.mypy_cache/3.7/torch/nn/quantized/dynamic/modules/__init__.meta.json
.mypy_cache/3.7/torch/nn/quantized/dynamic/modules/linear.data.json
.mypy_cache/3.7/torch/nn/quantized/dynamic/modules/linear.meta.json
.mypy_cache/3.7/torch/nn/quantized/dynamic/modules/rnn.data.json
.mypy_cache/3.7/torch/nn/quantized/dynamic/modules/rnn.meta.json
.mypy_cache/3.7/torch/nn/quantized/modules/__init__.data.json
.mypy_cache/3.7/torch/nn/quantized/modules/__init__.meta.json
.mypy_cache/3.7/torch/nn/quantized/modules/activation.data.json
.mypy_cache/3.7/torch/nn/quantized/modules/activation.meta.json
.mypy_cache/3.7/torch/nn/quantized/modules/batchnorm.data.json
.mypy_cache/3.7/torch/nn/quantized/modules/batchnorm.meta.json
.mypy_cache/3.7/torch/nn/quantized/modules/conv.data.json
.mypy_cache/3.7/torch/nn/quantized/modules/conv.meta.json
.mypy_cache/3.7/torch/nn/quantized/modules/functional_modules.data.json
.mypy_cache/3.7/torch/nn/quantized/modules/functional_modules.meta.json
.mypy_cache/3.7/torch/nn/quantized/modules/linear.data.json
.mypy_cache/3.7/torch/nn/quantized/modules/linear.meta.json
.mypy_cache/3.7/torch/nn/quantized/modules/utils.data.json
.mypy_cache/3.7/torch/nn/quantized/modules/utils.meta.json
.mypy_cache/3.7/torch/nn/utils/__init__.data.json
.mypy_cache/3.7/torch/nn/utils/__init__.meta.json
.mypy_cache/3.7/torch/nn/utils/clip_grad.data.json
.mypy_cache/3.7/torch/nn/utils/clip_grad.meta.json
.mypy_cache/3.7/torch/nn/utils/convert_parameters.data.json
.mypy_cache/3.7/torch/nn/utils/convert_parameters.meta.json
.mypy_cache/3.7/torch/nn/utils/fusion.data.json
.mypy_cache/3.7/torch/nn/utils/fusion.meta.json
.mypy_cache/3.7/torch/nn/utils/memory_format.data.json
.mypy_cache/3.7/torch/nn/utils/memory_format.meta.json
.mypy_cache/3.7/torch/nn/utils/rnn.data.json
.mypy_cache/3.7/torch/nn/utils/rnn.meta.json
.mypy_cache/3.7/torch/nn/utils/spectral_norm.data.json
.mypy_cache/3.7/torch/nn/utils/spectral_norm.meta.json
.mypy_cache/3.7/torch/nn/utils/weight_norm.data.json
.mypy_cache/3.7/torch/nn/utils/weight_norm.meta.json
.mypy_cache/3.7/torch/onnx/__init__.data.json
.mypy_cache/3.7/torch/onnx/__init__.meta.json
.mypy_cache/3.7/torch/onnx/symbolic_caffe2.data.json
.mypy_cache/3.7/torch/onnx/symbolic_caffe2.meta.json
.mypy_cache/3.7/torch/onnx/symbolic_helper.data.json
.mypy_cache/3.7/torch/onnx/symbolic_helper.meta.json
.mypy_cache/3.7/torch/onnx/symbolic_opset9.data.json
.mypy_cache/3.7/torch/onnx/symbolic_opset9.meta.json
.mypy_cache/3.7/torch/onnx/symbolic_opset10.data.json
.mypy_cache/3.7/torch/onnx/symbolic_opset10.meta.json
.mypy_cache/3.7/torch/onnx/symbolic_opset11.data.json
.mypy_cache/3.7/torch/onnx/symbolic_opset11.meta.json
.mypy_cache/3.7/torch/onnx/symbolic_registry.data.json
.mypy_cache/3.7/torch/onnx/symbolic_registry.meta.json
.mypy_cache/3.7/torch/onnx/utils.data.json
.mypy_cache/3.7/torch/onnx/utils.meta.json
.mypy_cache/3.7/torch/optim/__init__.data.json
.mypy_cache/3.7/torch/optim/__init__.meta.json
.mypy_cache/3.7/torch/optim/adadelta.data.json
.mypy_cache/3.7/torch/optim/adadelta.meta.json
.mypy_cache/3.7/torch/optim/adagrad.data.json
.mypy_cache/3.7/torch/optim/adagrad.meta.json
.mypy_cache/3.7/torch/optim/adam.data.json
.mypy_cache/3.7/torch/optim/adam.meta.json
.mypy_cache/3.7/torch/optim/adamax.data.json
.mypy_cache/3.7/torch/optim/adamax.meta.json
.mypy_cache/3.7/torch/optim/adamw.data.json
.mypy_cache/3.7/torch/optim/adamw.meta.json
.mypy_cache/3.7/torch/optim/asgd.data.json
.mypy_cache/3.7/torch/optim/asgd.meta.json
.mypy_cache/3.7/torch/optim/lbfgs.data.json
.mypy_cache/3.7/torch/optim/lbfgs.meta.json
.mypy_cache/3.7/torch/optim/lr_scheduler.data.json
.mypy_cache/3.7/torch/optim/lr_scheduler.meta.json
.mypy_cache/3.7/torch/optim/optimizer.data.json
.mypy_cache/3.7/torch/optim/optimizer.meta.json
.mypy_cache/3.7/torch/optim/rmsprop.data.json
.mypy_cache/3.7/torch/optim/rmsprop.meta.json
.mypy_cache/3.7/torch/optim/rprop.data.json
.mypy_cache/3.7/torch/optim/rprop.meta.json
.mypy_cache/3.7/torch/optim/sgd.data.json
.mypy_cache/3.7/torch/optim/sgd.meta.json
.mypy_cache/3.7/torch/optim/sparse_adam.data.json
.mypy_cache/3.7/torch/optim/sparse_adam.meta.json
.mypy_cache/3.7/torch/quantization/__init__.data.json
.mypy_cache/3.7/torch/quantization/__init__.meta.json
.mypy_cache/3.7/torch/quantization/default_mappings.data.json
.mypy_cache/3.7/torch/quantization/default_mappings.meta.json
.mypy_cache/3.7/torch/quantization/fake_quantize.data.json
.mypy_cache/3.7/torch/quantization/fake_quantize.meta.json
.mypy_cache/3.7/torch/quantization/fuse_modules.data.json
.mypy_cache/3.7/torch/quantization/fuse_modules.meta.json
.mypy_cache/3.7/torch/quantization/observer.data.json
.mypy_cache/3.7/torch/quantization/observer.meta.json
.mypy_cache/3.7/torch/quantization/qconfig.data.json
.mypy_cache/3.7/torch/quantization/qconfig.meta.json
.mypy_cache/3.7/torch/quantization/quantize.data.json
.mypy_cache/3.7/torch/quantization/quantize.meta.json
.mypy_cache/3.7/torch/quantization/stubs.data.json
.mypy_cache/3.7/torch/quantization/stubs.meta.json
.mypy_cache/3.7/torch/sparse/__init__.data.json
.mypy_cache/3.7/torch/sparse/__init__.meta.json
.mypy_cache/3.7/torch/testing/__init__.data.json
.mypy_cache/3.7/torch/testing/__init__.meta.json
.mypy_cache/3.7/torch/utils/__init__.data.json
.mypy_cache/3.7/torch/utils/__init__.meta.json
.mypy_cache/3.7/torch/utils/hooks.data.json
.mypy_cache/3.7/torch/utils/hooks.meta.json
.mypy_cache/3.7/torch/utils/throughput_benchmark.data.json
.mypy_cache/3.7/torch/utils/throughput_benchmark.meta.json
.mypy_cache/3.7/urllib/__init__.data.json
.mypy_cache/3.7/urllib/__init__.meta.json
.mypy_cache/3.7/urllib/parse.data.json
.mypy_cache/3.7/urllib/parse.meta.json
.mypy_cache/3.7/urllib/request.data.json
.mypy_cache/3.7/urllib/request.meta.json
.mypy_cache/3.7/urllib/response.data.json
.mypy_cache/3.7/urllib/response.meta.json

.mypy_cache/
